---
import LandingPage from "../layouts/landing.astro";
import IP from "../assets/256x256.webp";
import Enigma from "../assets/Enigma.png";
---
<head>
	<script data-domain="149segolte.dev">
	!function(){"use strict";var a=window.location,r=window.document,o=r.currentScript,l=o.getAttribute("data-api")||new URL(o.src).origin+"/api/event";function s(t,e){t&&console.warn("Ignoring Event: "+t),e&&e.callback&&e.callback()}function t(t,e){if(/^localhost$|^127(\.[0-9]+){0,2}\.[0-9]+$|^\[::1?\]$/.test(a.hostname)||"file:"===a.protocol)return s("localhost",e);if(window._phantom||window.__nightmare||window.navigator.webdriver||window.Cypress)return s(null,e);try{if("true"===window.localStorage.plausible_ignore)return s("localStorage flag",e)}catch(t){}var n={},i=(n.n=t,n.u=a.href,n.d=o.getAttribute("data-domain"),n.r=r.referrer||null,e&&e.meta&&(n.m=JSON.stringify(e.meta)),e&&e.props&&(n.p=e.props),new XMLHttpRequest);i.open("POST",l,!0),i.setRequestHeader("Content-Type","text/plain"),i.send(JSON.stringify(n)),i.onreadystatechange=function(){4===i.readyState&&e&&e.callback&&e.callback()}}var e=window.plausible&&window.plausible.q||[];window.plausible=t;for(var n,i=0;i<e.length;i++)t.apply(this,e[i]);function p(){n!==a.pathname&&(n=a.pathname,t("pageview"))}var c,w=window.history;w.pushState&&(c=w.pushState,w.pushState=function(){c.apply(this,arguments),p()},window.addEventListener("popstate",p)),"prerender"===r.visibilityState?r.addEventListener("visibilitychange",function(){n||"visible"!==r.visibilityState||p()}):p()}();
	</script>
</head>

<style>
	.orin-vert {
		writing-mode: vertical-lr;
		text-orientation: sideways;
	}
</style>

<LandingPage>
	<section slot="hero">
		<h1 class="text-3xl lg:text-4xl 2xl:text-6xl font-bold text-gray-800">
			Hi, I am
			<br />
			<span
				class="text-4xl whitespace-nowrap lg:text-6xl 2xl:text-7xl bg-gradient-to-r from-emerald-400 to-emerald-700 bg-clip-text text-transparent"
				>Shreyansh Nayak</span
			>,
			<br class="hidden md:block" />
			currently an undergrad student
			<br class="hidden md:block" />
			tinkering with <span class="text-emerald-600">Machine Learning</span
			>
			<br class="hidden md:block" />
			and <span class="text-emerald-600"
				><span class="whitespace-nowrap">Full-stack</span> Development</span
			>.
		</h1>
	</section>

	<section class="w-full h-max my-0 md:py-16 lg:py-20 xl:py-24 flex flex-col">
		<h1 class="text-2xl lg:text-3xl 2xl:text-4xl font-bold text-gray-800">
			Things I have worked on,
		</h1>
		<div class="w-full h-max mt-8 flex flex-col sm:flex-row">
			<div
				class="w-full h-full grid gap-8 grid-cols-1 sm:grid-cols-2 xl:grid-cols-3"
			>
				<div
					class="flex flex-col w-full h-full p-2 bg-zinc-800 rounded-xl"
				>
					<div class="flex flex-row m-2 items-center">
						<img
							src={IP.src}
							class="w-8 h-8"
							alt="Indore Pack Pvt. Ltd."
						/>
						<h3
							class="text-lg 2xl:text-2xl ml-4 font-bold text-gray-200"
						>
							Company Portfolio
						</h3>
					</div>
					<p class="text-sm 2xl:text-md m-2 mx-4 text-gray-300">
						Developed a company portfolio website for Indore Pack
						Pvt. Ltd. accomodating all the information about their
						product lineup and services.
					</p>
					<div
						class="flex flex-row m-2 justify-center items-center mt-auto"
					>
						<div
							class="text-sm text-zinc-800 grid grid-flow-col-dense gap-1"
						>
							<div class="bg-emerald-200 rounded-md px-2 py-1">
								Nuxt.js
							</div>
							<div class="bg-emerald-200 rounded-md px-2 py-1">
								Tailwind
							</div>
							<div
								class="bg-emerald-200 rounded-md px-2 py-1 hidden 2xl:block"
							>
								Cloudflare
							</div>
						</div>
						<a
							href="https://indorepack.com"
							class="ml-auto text-zinc-200 hover:text-emerald-400 hover:scale-105 transition-all duration-300"
						>
							<svg
								xmlns="http://www.w3.org/2000/svg"
								class="w-8 h-8"
								fill="none"
								viewBox="0 0 24 24"
								><path
									stroke="currentColor"
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									d="M10 5H8.2c-1.12 0-1.68 0-2.1.22a2 2 0 0 0-.88.87C5 6.52 5 7.08 5 8.2v7.6c0 1.12 0 1.68.22 2.1.19.38.5.7.87.88.43.22.99.22 2.1.22h7.61c1.12 0 1.68 0 2.1-.22a2 2 0 0 0 .88-.87c.22-.43.22-.99.22-2.1V14m1-5V4m0 0h-5m5 0-7 7"
								></path>
							</svg>
						</a>
					</div>
				</div>
				<div
					class="flex flex-col w-full h-full p-2 bg-zinc-800 rounded-xl"
				>
					<div class="flex flex-row m-2 items-center">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							preserveAspectRatio="xMidYMid"
							class="w-8 h-8"
							viewBox="-9 0 274 274"
							><path
								fill="#E55B2D"
								d="M145.73 42.07v42.06l72.86 42.07V84.13l-72.86-42.06ZM0 84.13v42.07l36.43 21.03v-42.06L0 84.13Zm109.3 21.04L72.85 126.2v126.2l36.43 21.04V189.3l36.44 21.04v-42.07l-36.44-21.04v-42.06Z"
								style="--darkreader-inline-fill:#ab3b15"
							></path><path
								fill="#ED8E24"
								d="m145.73 42.07-109.3 63.1v42.06l72.86-42.06v42.06l36.44-21.03V42.07Zm109.3 21.03-36.44 21.03v42.07l36.43-21.03V63.1Zm-72.87 84.13-36.43 21.04v42.07l36.43-21.04v-42.07Zm-36.43 63.1-36.44-21.03v84.14l36.44-21.04v-42.06Z"
								style="--darkreader-inline-fill:#b3650f"
							></path><path
								fill="#F8BF3C"
								d="M145.73 0 0 84.13l36.43 21.04 109.3-63.1 72.86 42.06 36.43-21.03L145.72 0Zm0 126.2-36.44 21.03 36.44 21.04 36.43-21.04-36.43-21.03Z"
								style="--darkreader-inline-fill:#7d5804"
							></path></svg
						>
						<h3
							class="text-lg 2xl:text-2xl ml-4 font-bold text-gray-200"
						>
							ML Playground
						</h3>
					</div>
					<p class="text-sm 2xl:text-md m-2 mx-4 text-gray-300">
						Working on a PWA that will allow users to generate the
						code required to train a machine learning model on their
						data.
					</p>
					<div
						class="flex flex-row m-2 justify-center items-center mt-auto"
					>
						<div
							class="text-sm text-zinc-800 grid grid-flow-col-dense gap-1"
						>
							<div class="bg-emerald-200 rounded-md px-2 py-1">
								Svelte
							</div>
							<div class="bg-emerald-200 rounded-md px-2 py-1">
								SKLearn
							</div>
							<div
								class="hidden lg:block bg-emerald-200 rounded-md px-2 py-1"
							>
								Vercel
							</div>
						</div>
						<a
							href="https://github.com/149segolte/ml-playground"
							class="ml-auto text-zinc-200 hover:text-emerald-400 hover:scale-105 transition-all duration-300"
						>
							<svg
								xmlns="http://www.w3.org/2000/svg"
								class="w-8 h-8"
								fill="none"
								viewBox="0 0 24 24"
								><path
									stroke="currentColor"
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									d="M10 5H8.2c-1.12 0-1.68 0-2.1.22a2 2 0 0 0-.88.87C5 6.52 5 7.08 5 8.2v7.6c0 1.12 0 1.68.22 2.1.19.38.5.7.87.88.43.22.99.22 2.1.22h7.61c1.12 0 1.68 0 2.1-.22a2 2 0 0 0 .88-.87c.22-.43.22-.99.22-2.1V14m1-5V4m0 0h-5m5 0-7 7"
								></path>
							</svg>
						</a>
					</div>
				</div>
				<div
					class="hidden xl:flex flex-col w-full h-full p-2 bg-zinc-800 rounded-xl"
				>
					<div class="flex flex-row m-2 items-center">
						<img
							src={Enigma.src}
							class="w-8 h-8"
							alt="Enigma 2048"
						/>
						<h3
							class="text-lg 2xl:text-2xl ml-4 font-bold text-gray-200"
						>
							Enigma 2048
						</h3>
					</div>
					<p class="text-sm 2xl:text-md m-2 mx-4 text-gray-300">
						Developed a 2048 game clone for Android with a twist.
						The moves with no merges delete a random tile from the
						board.
					</p>
					<div
						class="flex flex-row m-2 justify-center items-center mt-auto"
					>
						<div
							class="text-sm text-zinc-800 grid grid-flow-col-dense gap-1"
						>
							<div class="bg-emerald-200 rounded-md px-2 py-1">
								Java
							</div>
							<div class="bg-emerald-200 rounded-md px-2 py-1">
								Android
							</div>
						</div>
						<a
							href="https://github.com/149segolte/Enigma2048"
							class="ml-auto text-zinc-200 hover:text-emerald-400 hover:scale-105 transition-all duration-300"
						>
							<svg
								xmlns="http://www.w3.org/2000/svg"
								class="w-8 h-8"
								fill="none"
								viewBox="0 0 24 24"
								><path
									stroke="currentColor"
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									d="M10 5H8.2c-1.12 0-1.68 0-2.1.22a2 2 0 0 0-.88.87C5 6.52 5 7.08 5 8.2v7.6c0 1.12 0 1.68.22 2.1.19.38.5.7.87.88.43.22.99.22 2.1.22h7.61c1.12 0 1.68 0 2.1-.22a2 2 0 0 0 .88-.87c.22-.43.22-.99.22-2.1V14m1-5V4m0 0h-5m5 0-7 7"
								></path>
							</svg>
						</a>
					</div>
				</div>
			</div>
			<div
				class="hidden lg:block w-max h-full max-h-[240px] mt-2 sm:mt-0 sm:ml-8"
			>
				<a
					href="https://github.com/149segolte?tab=repositories"
					class="w-max h-max text-zinc-200 hover:text-emerald-400 hover:scale-105 transition-all duration-300"
				>
					<div
						class="w-max h-full text-lg 2xl:text-xl bg-zinc-800 rounded-xl"
					>
						<p
							class="whitespace-nowrap font-bold orin-vert px-2 py-4"
						>
							More &gt;
						</p>
					</div>
				</a>
			</div>
		</div>
	</section>
	<section
		class="w-full h-max max-w-4xl py-16 md:py-16 lg:py-20 xl:py-24 flex flex-col"
		slot="footer"
	>
		<h2 class="text-3xl xl:text-4xl sm:text-center font-bold text-gray-800">
			Get in Touch
		</h2>
		<div
			class="w-full h-max grid grid-cols-1 md:grid-cols-2 mt-2 md:mt-4 lg:mt-6 xl:mt-8 divide-y-2 md:divide-y-0 md:divide-x-2 divide-current text-zinc-800"
		>
			<div
				class="flex flex-col justify-center items-start sm:items-center md:items-end text-zinc-800 mb-2 md:mb-0 md:mr-2"
			>
				<div
					class="flex flex-row-reverse md:flex-row justify-center items-center"
				>
					<p class="text-md lg:text-lg font-medium">
						Drop a DM on Twitter
					</p>
					<a href="">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							class="w-8 h-8 m-2 hover:scale-105 hover:fill-emerald-600 transition duration-300"
							fill="currentcolor"
							viewBox="0 -2 20 20"
						>
							<path
								fill-rule="evenodd"
								d="M10.29 7377a11.5 11.5 0 0 0 11.68-11.5c0-.17 0-.34-.02-.52a8.3 8.3 0 0 0 2.05-2.09c-.75.33-1.54.54-2.36.64a4 4 0 0 0 1.8-2.24c-.8.47-1.68.8-2.6.98a4.15 4.15 0 0 0-5.8-.17 4 4 0 0 0-1.2 3.86 11.76 11.76 0 0 1-8.45-4.22 4 4 0 0 0 1.27 5.39 4.3 4.3 0 0 1-1.86-.5v.05a4.06 4.06 0 0 0 3.3 3.96c-.61.16-1.25.18-1.86.06a4.1 4.1 0 0 0 3.83 2.81A8.32 8.32 0 0 1 4 7375.2a11.75 11.75 0 0 0 6.29 1.8"
								transform="translate(-4 -7361)"></path>
						</svg>
					</a>
				</div>
				<div
					class="flex flex-row-reverse md:flex-row justify-center items-center"
				>
					<p class="text-md lg:text-lg font-medium">
						Connect on LinkedIn
					</p>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						class="w-8 h-8 m-2 hover:fill-emerald-600 hover:scale-105 transition duration-300"
						fill="currentcolor"
						viewBox="0 0 24 24"
					>
						<path
							fill-rule="evenodd"
							d="M6 2a4 4 0 0 0-4 4v12a4 4 0 0 0 4 4h12a4 4 0 0 0 4-4V6a4 4 0 0 0-4-4H6ZM4 6c0-1.1.9-2 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6Zm5 5a1 1 0 1 0-2 0v6a1 1 0 1 0 2 0v-6Zm.5-3.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0ZM12 10a1 1 0 0 1 .82.43A3.51 3.51 0 0 1 14.5 10c2.16 0 3.5 1.93 3.5 3.57V17a1 1 0 1 1-2 0v-3.43c0-.78-.66-1.58-1.5-1.58-.52 0-1.1.28-1.5.96V17a1 1 0 1 1-2 0v-6a1 1 0 0 1 1-1Z"
							clip-rule="evenodd"></path>
					</svg>
				</div>
				<div
					class="flex flex-row-reverse md:flex-row justify-center items-center"
				>
					<p class="text-md lg:text-lg font-medium">
						Help out on GitHub
					</p>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						class="w-8 h-8 m-2 hover:scale-105 hover:fill-emerald-600 transition duration-300"
						fill="currentcolor"
						viewBox="0 0 20 20"
					>
						<path
							fill-rule="evenodd"
							d="M94 7399c5.52 0 10 4.59 10 10.25 0 4.53-2.86 8.37-6.83 9.73-.51.1-.69-.22-.69-.5l.01-2.8c0-.96-.32-1.59-.68-1.9 2.23-.26 4.57-1.12 4.57-5.06a4 4 0 0 0-1.03-2.75c.1-.26.45-1.3-.1-2.72 0 0-.84-.27-2.75 1.05a9.4 9.4 0 0 0-5 0c-1.91-1.32-2.75-1.05-2.75-1.05a3.78 3.78 0 0 0-.1 2.72 4.03 4.03 0 0 0-1.03 2.75c0 3.93 2.33 4.8 4.55 5.06-.28.26-.54.71-.63 1.38-.57.26-2.02.71-2.91-.86 0 0-.53-.98-1.53-1.05 0 0-.98-.02-.07.62 0 0 .65.32 1.1 1.5 0 0 .6 1.83 3.38 1.21l.01 1.9c0 .28-.18.6-.68.5a10.23 10.23 0 0 1-6.84-9.73c0-5.66 4.48-10.25 10-10.25"
							transform="translate(-84 -7399)"></path>
					</svg>
				</div>
			</div>
			<div
				class="w-full h-full text-lg lg:text-xl xl:text-2xl text-zinc-600 pt-3 pl-2 md:pl-4"
			>
				<div class="flex justify-center items-center w-full h-full">
					<p class="font-medium sm:text-center md:text-left">
						Got a question or proposal, or just want to say hello?
						Just shoot me an email directly at <a
							href="mailto:nayakshreyansh14@gmail.com"
							class="text-emerald-600 hover:text-emerald-400 hover:scale-105 transition-all duration-300"
							>nayakshreyansh14@gmail.com
						</a>
					</p>
				</div>
			</div>
		</div>
	</section>
</LandingPage>
